@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

:root {
  --dark: #000;
  --light: #fff;
  --border-light: #dbdbdb;
  --border-dark: #262626;
  --hover-light: #fafafa;
  --hover-dark: #121212;
  --light-aux-text: #c7c7c7;
  --dark-aux-text: #737373;
  --light-main-text: #8e8e8e;
  --dark-main-text: #a8a8a8;
  --blue: #0095f6;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", sans-serif;
  overflow-x: hidden;
  display: flex;
}

/* Left Sidebar */

.left-sidebar {
  position: sticky;
  width: 30vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.links-flex {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem 1rem;
  cursor: pointer;
  width: 16rem;
  flex-direction: column;
}

.ig-logo {
  padding: 1rem;
}
.insta-logo {
  width: 2.3rem;
  height: 2.3rem;
}

.link-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
  padding-right: 2rem;
  border-radius: 20px;
}

.link-icon {
  width: 1.6rem;
  height: 1.6rem;
}
.user-pfp {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  transition: 0.2s;
}
.user-pfp:hover {
  width: 2.5rem;
  height: 2.5rem;
}
.link-text {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem 0rem;
}
.active {
  font-weight: 600;
}
/* Middle Bar */

.middle-section {
  width: 40%;
}

.top-nav {
  position: sticky;
  top: 0;
  margin-top: 1rem;
}

.story-flex {
  padding: 1rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
}
.story-flex::-webkit-scrollbar {
  display: none;
}

.stories {
  /* flex: 1; */
  /* display: flex; */
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  display: block;
  cursor: pointer;
  /* padding: 0.5rem 1rem; */
  /* border-radius: 50%;
  border: 1px solid var(--dark); */
}
.stories-pfp {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border-image: linear-gradient(#e303a3, #ffc700) 30 / 1px;
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-radius: 50%; */
}
.stories-user {
  text-align: center;
  overflow: hidden;
  /* word-wrap: break-word; */
  text-overflow: ellipsis;
}
.search-bar input {
  flex: 1;
  background-color: var(--background-grey);
  border: none;
  color: var(--light-grey);
  font-family: "Chirp", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.search-bar input:focus {
  outline: none;
}

.search-icon,
.setting-icon {
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
}
/* Right Sidebar */

.right-sidebar {
  position: sticky;
  width: 30vw;
  height: 100vh;
  right: 0;
  top: 0;
}

.signup-container {
  display: block;
  padding: 1rem;
  width: 60%;
  margin: 1rem 30px;
  border-radius: 1rem;
}
.my-profile {
  display: flex;
  padding-top: 1rem;
  width: 60%;
  margin: 1rem 30px;
  border-radius: 1rem;
}
.my-profile-pfp {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1.5px solid var(--border-light);
}
.myprofile-name-container {
  margin: 10px 10px 0px 15px;
}
.suggestions {
  margin-bottom: 1rem;
  /* margin-left: 1rem; */
}
.suggestions-text-container {
  display: flex;
}
.suggestions-name-container {
  margin: 1px 10px 0px 15px;
  cursor: pointer;
}

.myprofile-username {
  font-size: 15px;
  font-weight: 600;
}
.myprofile-name {
  font-size: 14px;
}
.mybtn {
  margin: 15px 0 0 auto;
  font-size: 13px;
  font-weight: 600;
  color: var(--blue);
  cursor: pointer;
}
.mybtn-again {
  margin: 20px 0 0 auto;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.suggested-for-you-box {
  display: block;
  /* padding: 1rem; */
  width: 60%;
  margin: 0 30px;
  border-radius: 1rem;
}
.suggested-for-you-box header {
  display: flex;
}
.signup-container h3 {
  margin: 0;
}
.suggestions {
  display: flex;
}
.suggestions:last-child {
  margin-bottom: 30px;
}
.suggestions-pfp {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.right-links p,
.more-p-tag {
  font-size: 0.8rem;
  line-height: 1rem;
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
  padding: 0.8rem 1rem;
  gap: 0.5rem;
  background-color: var(--white);
  border-radius: 2rem;
}

.signup-btn-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.signup-btn p {
  font-size: 1rem;
  color: var(--black);
  margin: 0;
}

.signup-btn:hover {
  background-color: var(--headings-white);
  cursor: pointer;
}

/* .twitter-links {
  color: var(--blue);
  text-decoration: none;
} */

.twitter-links:hover {
  text-decoration: underline;
}

.right-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  /* gap: 1rem; */
  margin: 0rem;
  margin-left: 30px;
}
.copyright {
  margin-top: 2rem;
}
.posts {
  display: block;
  width: 90%;
  margin: 1rem 1rem 0 2rem;
}
.post {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.post header {
  display: flex;
  margin-bottom: 10px;
}
.post-image {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
.post-footer-icons {
  display: flex;
}
.post footer {
  margin-top: 10px;
}
.post-footer-elements:first-child {
  margin-left: 0;
}
.post-footer-elements {
  margin-left: 20px;
  cursor: pointer;
}
.post-footer-elements:last-child {
  margin-left: auto;
}
.like-counter {
  font-weight: 600;
  margin-top: 2px;
  cursor: pointer;
}
.footer-desc {
  display: flex;
}
.view-comments {
  cursor: pointer;
  margin-bottom: 10px;
}

.caption {
  margin: 1px 0 0 2px;
}
.right-links p,
.more-p-tag {
  min-width: 3rem;
  margin-bottom: 0;
  margin-top: 0.25rem;
  cursor: pointer;
}

.right-links p:hover,
.more-p-tag:hover {
  text-decoration: underline;
}

/* Drop Down Styling */

/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black);
  min-width: 12rem;
  border-radius: 0.5rem;
  overflow: auto;
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px,
    rgb(255 255 255 / 15%) 0px 0px 3px 1px;
  z-index: 1;
}

.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: var(--background-grey);
}

.show {
  display: block;
} */

/* Tabs */

/* Style the tab */
.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  background-color: var(--black);
  margin-bottom: 0.1rem;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1rem;
  color: var(--light-grey);
  border-bottom: 4px solid var(--black);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  flex: 1;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--background-grey);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--black);
  color: var(--white);
  font-weight: 600;
  border-bottom: 4px solid var(--blue);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding-bottom: 4rem;
}

.tabs-main-img {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7)
    ),
    url("assets/trending.png");
  height: 380px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center center;
  background-size: cover;
}

.tabs-main-img h3 {
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: normal;
}

.tabs-main-img p {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}

.trending-box {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1.5px solid var(--background-grey);
}

.trending-box:hover {
  background-color: #080808;
}

.trending-heading {
  margin: 0rem 1rem;
  font-weight: light;
  font-size: 1rem;
  color: var(--light-grey);
}

.trending-text {
  margin: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 800;
}

/* Bottom Signup Div */

/* .bottom-signup {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--blue);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.bottom-text h3 {
  margin: 0;
  font-size: 1.2rem;
}

.bottom-text p {
  font-size: 0.8rem;
  margin: 0.35rem 0rem;
  margin-bottom: 0rem;
}

.signup-btn-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.btn-outlined {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--white);
  border-radius: 2rem;
  cursor: pointer;
}

.btn-outlined:hover {
  background-color: var(--white);
  color: var(--black);
  transition: all 0.3s;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--white);
  border-radius: 2rem;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: all 0.3s;
} */

/* Media Queries */

@media only screen and (max-width: 1160px) {
  .left-sidebar {
    width: 4rem !important;
  }
  .link-text {
    display: none;
  }
  .links-flex {
    margin: 0;
  }
  .link-flex {
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  .right-sidebar {
    width: 40%;
  }

  .middle-section {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .right-sidebar,
  .signup-container,
  .signup-btn,
  .twitter-links,
  .right-links {
    display: none;
  }
  .middle-section {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .bottom-signup {
    width: 100%;
    padding: 1rem 0rem;
  }
  .bottom-text {
    display: none;
  }

  .tabs-main-img {
    height: 180px;
    padding: 0.5rem;
  }

  .tab {
    padding: 0rem 1rem;
  }

  .tab button {
    min-width: 6rem;
  }

  .tabs-main-img p {
    margin-bottom: 0.5rem;
  }

  .trending-heading,
  .trending-text {
    margin: 0.5rem 0.5rem;
  }
  .posts {
    width: 90%;
    margin-left: 20px;
  }
}

/* Dark Mode / Light Mode Code */
/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--light);
  }
  .left-sidebar {
    border-right: 0.1rem solid var(--border-dark);
  }
  .middle-section {
    background-color: var(--dark);
  }
  .top-nav {
    background-color: var(--dark) !important;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
  }
  .insta-logo {
    /* height: 2rem;
    width: 2rem; */
    color: var(--light);
    fill: var(--light);
  }
  .link-icon-color {
    color: var(--light);
    fill: var(--light);
    /* stroke: var(--light); */
  }
  .link-flex:hover {
    background-color: var(--hover-dark);
    border-radius: 2rem;
  }
  .insta-logo:hover {
    background-color: var(--hover-dark);
    border-radius: 50%;
  }
  .signup-container p,
  .right-links p,
  .more-p-tag {
    color: var(--dark-aux-text);
  }
  .myprofile-name {
    color: var(--dark-main-text);
  }
  .mybtn:hover {
    color: var(--light);
  }
  .mybtn-again {
    color: var(--light);
  }
  .mybtn-again:hover {
    color: var(--dark-main-text);
  }
  .suggested-for-you-box h4 {
    color: var(--dark-main-text);
  }
  .view-comments {
    color: var(--dark-main-text);
  }
  .post {
    border-bottom: 1px solid var(--border-dark);
  }
}
/* Light Mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light);
    color: var(--dark);
  }
  .left-sidebar {
    border-right: 0.1rem solid var(--border-light);
  }
  .middle-section {
    background-color: var(--light);
  }
  .top-nav {
    background-color: var(--light) !important;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
  }
  .insta-logo {
    /* height: 2rem;
    width: 2rem; */
    color: var(--dark);
    fill: var(--dark);
  }
  .link-icon-color {
    color: var(--dark);
    fill: var(--dark);
    /* stroke: var(--dark); */
  }
  .link-flex:hover {
    background-color: var(--hover-light);
    border-radius: 2rem;
  }
  .insta-logo:hover {
    background-color: var(--hover-light);
    border-radius: 50%;
  }
  .signup-container p,
  .right-links p,
  .more-p-tag {
    color: var(--light-aux-text);
  }
  .myprofile-name {
    color: var(--light-main-text);
  }
  .mybtn:hover {
    color: var(--dark);
  }
  .mybtn-again {
    color: var(--dark);
  }
  .mybtn-again:hover {
    color: var(--light-main-text);
  }
  .suggested-for-you-box h4 {
    color: var(--light-main-text);
  }
  .view-comments {
    color: var(--light-main-text);
  }
  .post {
    border-bottom: 1px solid var(--border-light);
  }
}
